# Logs
logs
*.log
npm-debug.log*

# Mac Files
.DS_Store

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env

# Pem
.pem