/* SCSS using css modules. Note, use composition pattern with only one module per element */
/* Note: cant have blank class */

@import '../../views/scss/composeBulma';
@import '../../views/scss/composeColors';

.full-content{
    flex: 1 0 auto;
}


.title {
    composes: titleColor;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.subheader {
    composes: titleColor2;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0rem;
}

.section-container-bg {
    composes: section container is-fluid;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.section-header-row {
    composes: columns;
}

.section-header {
    composes: column is-4 is-offset-2;
}

.section-header-left{
    composes: column is-4 is-offset-2;
    padding-top: 0;
    margin-bottom: -2rem;
}

.section-header-right{
    composes: column is-4;
    padding-top: 0;
    margin-bottom: -2rem;
}

.section-content-row {
    composes: columns;
}

.section-content-left{
    composes: column is-4 is-offset-2;
    padding-top: 0;
}

.section-content-right{
    composes: column is-4;
    padding-top: 0;
}

@media only screen and (max-width:768px){
    .section-container-bg {

        background-repeat: repeat-y;

    }

}
