/* SCSS using css modules. Note, use composition pattern with only one module per element */
/* Note: cant have blank class */

@import '../../views/scss/composeBulma';
@import '../../views/scss/composeColors';

.full-content{
    flex: 1 0 auto;
}

.link {
    composes: hiColorDarkText;
    font-weight: bold;
}

.link:hover {
    color: rgba(121, 214, 97, 1);
}

.link-icon {
    composes: hiColorBrightFill;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: -0.2rem;
}

.img-full {
    width: 100%;
}

.title {
    composes: titleColor;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.subheader {
    composes: titleColor2;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0rem;
}

.section-container-bg {
    composes: section container is-fluid;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background: url("../../img/TesBG-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section-header-row {
    composes: columns;
}

.section-header {
    composes: column is-4 is-offset-2;
}

.section-header-left{
    composes: column is-4 is-offset-2;
    padding-top: 0;
    margin-bottom: -2rem;
}

.section-header-right{
    composes: column is-4;
    padding-top: 0;
    margin-bottom: -2rem;
}

.section-content-row {
    composes: columns;
}

.section-content-left{
    composes: column is-4 is-offset-2;
    padding-top: 0;
}

.section-content-right{
    composes: column is-4;
    padding-top: 0;
}

@media only screen and (max-width:768px){
    .section-container-bg {
        background-repeat: repeat-y;
    }

}

