/* Global colors for compose */
/* Coolors Exported Palette - coolors.co/fcfcfc-efefef-81e266-71c659-343835 */

/* RGB */
$color1: rgba(252, 252, 252, 1);
$color2: rgba(239, 239, 239, 1);
$color3: rgba(121, 214, 97, 1);
$color4: rgba(113, 198, 89, 1);
$color5: rgba(52, 56, 53, 1);
$color6: #232323;
$color7: #070707;



/* box shadow */
.boxShadow{
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.08);
}

/* title color */
.titleColor {
	color: $color3;
}

.titleColor2 {
	color: $color4;
}


/* hilight color */
.hiColorBrightText {
	color: $color3;
}

.hiColorBrightBG {
	background-color: $color3;
}

.hiColorBrightFill{
	fill: $color3;
}

.hiColorBrightBorder {
	border-color: $color3;
}


/* hilight color darker */
.hiColorDarkText {
	color: $color4;
}

.hiColorDarkFill {
	fill: $color4;
}

.hiColorDarkBG {
	background-color: $color4;
}

.hiColorDarkBorder {
	border-color: $color4;
}


/* light gray soft */
.grayColorBrightText {
	color: $color1;
}

.grayColorBrightBG {
	background-color: $color1;
}

.grayColorBrightBorder {
	border-color: $color1;
}


/* mid gray soft */
.grayColorMidText {
	color: $color2;
}

.grayColorMidBG {
	background-color: $color2;
}

.grayColorMidBorder {
	border-color: $color2;
}


/* dark soft */
.grayColorDarkText {
	color: $color5;
}

.grayColorDarkBG {
	background-color: $color5;
}

.grayColorDarkBorder {
	border-color: $color5;
}


/* near blacks */
.blackColorBrightText {
	color: $color6;
}

.blackColorBrightBG {
	background-color: $color6;
}

.blackColorBrightBorder {
	border-color: $color6;
}


/* basically black */
.blackColorDarkText {
	color: $color7;
}

.blackColorDarkBG {
	background-color: $color7;
}

.blackColorDarkBorder {
	border-color: $color7;
}




